@page "/"
@using ServiceInsight.Web.Components
@using ServiceInsight.Web.Model

<PageTitle>Index</PageTitle>

<EndpointSelector NavClasses="col-md-3 col-lg-2 d-md-block" EndPointSelected="@RefreshMessages"></EndpointSelector>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1>@CurrentEndpoint</h1>
    <Messages @ref="_messagesComponent"></Messages>
</main>

@code
{
    private string CurrentEndpoint = "";
    private Messages _messagesComponent;
    private async Task RefreshMessages(EndpointInfo endpoint)
    {
        if (CurrentEndpoint != endpoint.Name)
        {
            await _messagesComponent.SearchMessages(endpoint.Name, endpoint);
            CurrentEndpoint = endpoint.Name;
        }
        else
        {
            await _messagesComponent.SearchMessages(endpoint.Name);
            CurrentEndpoint = null;
        }
    }
}
