<h4>Message Properties</h4>
<div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-sm">
        @* <thead> *@
        @*   <tr> *@
        @*     <th scope="col">Status</th> *@
        @*     <th scope="col">ID</th> *@
        @*     <th scope="col">Type</th> *@
        @*     <th scope="col">Time Sent</th> *@
        @*     <th scope="col">Delivery Time</th> *@
        @*     <th scope="col">Procesing Time</th> *@
        @*     <th scope="col">Critical Time</th> *@
        @*   </tr> *@
        @* </thead> *@
        <tbody>
            <tr>
              <td>General</td>
              <td></td>
            </tr>
            <tr>
              <td>Performance</td>
              <td></td>
            </tr>
            <tr>
              <td>Errors</td>
              <td></td>
            </tr>
            <tr>
              <td>Gateway</td>
              <td></td>
            </tr>
            <tr>
              <td>Saga</td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

@code {
    
}