<div class="container-fluid" style="height: 100%;">
    show stuff here
</div>
<ul class="nav nav-pills" style="height: 5%;">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Flow Diagram</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Saga</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Sequence Diagram</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Headers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Body</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Logs</a>
    </li>
</ul>
@code {
    
}